/*
    Create by WebStorm.
    User: ZhongQw
    Date: 2018/10/14
    Time: 16:23
*/
#article{
    width: auto;
    height: 700px;
    background: white;
    margin-top: -10px;
    color: black;
}
#article{
    /*position: relative;*/
    padding-top: 10px;
}
#article_{
    width: 70%;
    display: inline-block;
    /*border: #d34b62 solid 1px;*/
}
#article_>table{
    width: 98%;
    position: relative;
    left: 10px;
}
#article_>table>tbody>tr:nth-child(1){
    border: black solid 1px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
#article_>table>tbody>tr:nth-child(n+2){
    border: black solid 1px;
    font-weight: bold;
    color: gray;
}
#article_>table>tbody td, #article_>table>tbody th{
    padding: 10px;
    border: rgb(220,220,220) solid 1px;
    text-align: center;
}
#article_>table>tbody th{
    background-color: rgba(169,169,169,0.3);
}
#article_>table>tbody tr:nth-child(n+2):nth-child(even){
    background-color: rgba(144,238,144,0.2);
    transition: 0.3s;
}
#article_>table>tbody tr:nth-child(n+2):nth-child(odd){
    background-color: rgba(238,232,170,0.4);
}
#article_>table>tbody tr:nth-child(n+2):hover{
    background-color: rgba(32,178,170,0.2);
}
#article_>table>tbody tr:nth-child(n+2) td:nth-child(n+3):hover{
    cursor: pointer;
}
#article_ .addLogin{
    width: 60px;
    height: 30px;
    position: absolute;
    margin-top: 5px;
    left: 875px;
    background-color: rgba(153,50,204,0.7);
    border: none;
    border-top-right-radius:1em;
    border-bottom-left-radius:1em;
    outline: none;
    transition: 0.6s;
    color: #F0FFF0;
}
#article_ .addLogin:hover{
    background-color: rgba(153,50,204,1);
    color: white;
}
#addLogin input{
    display: inline-block;
    height: 40px;
    width: 200px;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    border: #eeeeee 1px solid;
    text-indent: 5px;
    color: black;
}
#article #words{
    margin-top: 1px;
    border: #9289892e 1px solid;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 29.5%;
    height: auto;
    box-shadow: grey 4px 3px 7px;
}
#words h2{
    width: 130px;
    margin: 0 auto;
}
#article #words ol{
    padding: 10px 10px 10px 10px;
    /*line-height: 30px;*/
}
#article #words ol li{
    padding: 10px 10px 20px 10px;
    list-style: none;
    transition: .3s;
    border: #eeeeee 1px solid;
    border-radius: 5px;
}
#article #words ol li a{
    float: right;
    width: 60px;
    color: darkslategrey;
}
#article #words ol li a:hover{
    color: black;
    cursor: pointer;
}
#words ol li .reply span:nth-child(1){
    color: grey;
}
#words ol li .personWords span:nth-child(1){
    color: olivedrab;
    padding-right: 10px;
}
#words ol li .personWords span:nth-child(1):hover{
    color: #c77eb5;
    cursor: pointer;
}
#words ol li .personWords{
    padding: 5px;
    /*border: #c77eb5 1px solid;*/
}
#words ol li .reply{
    margin-top: 10px;
    padding: 5px;
    border: white 1px solid;
}
#words ol li:hover{
    box-shadow: grey 1px 1px 10px;
}
#article_>table>tbody tr td:nth-last-of-type(2):hover{
    color: olivedrab;
}
#article_>table>tbody tr td:nth-last-of-type(1):hover{
    color: orangered;
}